body{
    font-size: 20px;
    background: #f0ebf8;
    padding-bottom: 50px;
    font-family: 'Comic Neue', cursive;
}
h1{
    text-align: center;
}
#juego{
    max-width: 800px;
    margin: auto;
}
.contenedor-pregunta{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
}
label{
    display: flex;
    font-size: 22px;
    margin-bottom: 10px;
    cursor: pointer;
}
input{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.correcta{
    background-color: greenyellow;
}
.incorrecta{
    background-color: red;
}
.acierto{
    font-size: 20px;
    background-color: rgb(2, 6, 235);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    margin-left: 15px;
}
.no-acierto{
    font-size: 20px;
    background-color: darkred;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    margin-left: 15px;
}
button{
    display: block;
    margin: auto;
    padding: 15px 25px;
    border-radius: 25px;
    background: #686868;
    color: #000000;
    cursor: pointer;
}
button:hover{
    background-color: darkgrey;
}